<div class="bg-stone-100">

    <form action="home" class=" border-stone-800">

        <!-- <div class="block sm:flex sm:justify-center"> -->
        <div class="bg-stone-200 text-center font-[arial] p-16">
            <p class="uppercase font-bold text-3xl">Mantengamos Contacto</p>
            <p class="font-semibold text-xl">Dejanos tu mensaje y en breve te atendemos</p>
        </div>
        <div class="block gap-10 sm:flex justify-center place-items-center mb-10 mt-10">
            <div class="">
                <label class="block mb-3 font-sans font-bold text-neutral-800" for="">Tu nombre</label>
                <input class="p-3 border-solid border-2 border-stone-400" type="text">
            </div>
            <div class="">
                <label class="block mb-3 font-sans font-bold text-neutral-800" for="">Correo Electronico</label>
                <input class="p-3 border-solid border-2 border-stone-400" type="email">
            </div>
        </div>
        <div class="block sm:flex gap-10 justify-center place-items-center mb-10">
            <div>
                <label class="block mb-3 font-sans font-bold text-neutral-800" for="">Telefono</label>
                <input class="p-3 border-solid border-2 border-stone-400" type="tel">
            </div>
            <div>
                <label class="block mb-3 font-sans font-bold text-neutral-800" for="">Departamento a contactar</label>

                <select class="p-3 border-solid border-2 border-stone-400" value="">
                <option value="" default></option>
                  <option value="Recursos Humanos">Recursos Humanos</option>
                  <option value="Ventas">Ventas</option>
                  <option value="Buzon de comentarios">Buzon de comentarios</option>
              </select>
            </div>
        </div>
        <div class="block sm:flex gap-10 sm:justify-center place-items-center mb-10">
            <div>
                <label class="block mb-3 font-sans font-bold text-neutral-800" for="">Asunto</label>
                <input class="p-3 border-solid border-2 border-stone-400" type="" name="" value="">
            </div>
        </div>
        <div class="block sm:flex gap-10 justify-center place-items-center mb-10">
            <div>
                <label class="block mb-3 font-sans font-bold text-neutral-800" for="">Mensaje</label>
                <input class="p-3 border-solid border-2 border-stone-400" width="15rem" type="text" name="" id="">
            </div>
        </div>
        <div class="flex justify-center">
            <input class="mb-4  bg-stone-400 block hover:bg-neutral-800 hover:text-white hover:transition-all p-2 rounded" type="submit">
        </div>

        <!-- </div> -->
    </form>
</div>
