<header class="text-center p-10 sm:p-40">
    <div class="flex justify-center m-0 p-0">
        <img width="150px" src="./assets/certificaciones/fivestars.png" alt="FIVESTARCERTS">
    </div>
    <h1 class="uppercase text-2xl sm:text-5xl">Certificaciones</h1>
    <p class="text-xl mt-4 text-justify">Es un orgullo para Hacienda de Chihuahua contar con los más altos estándares de calidad, enaltecidos con las más importantes certificaciones que garantizan el cuidado de los ciclos ambientales, la biodiversidad, la fertilidad del suelo y la responsabilidad
        ambiental.
    </p>
    <p class="text-xl mt-4 text-justify">Esto avala que nuestros productos están elaborados con la más alta calidad de ingredientes, cuidando en todo momento sus procesos de selección, recolección, producción y transportación; ofreciendo productos 100% orgánicos que logran un equilibrio
        físico, mental y ambiental, con un enfoque natural, orgánico y más saludable. </p>
</header>

<div class="w-full p-10 sm:p-20 text-justify">
    <div class="grid gap-10 place-items-center sm:grid-flow-col">
        <div class="w-40">
            <img src="./assets/certificaciones/imocertlogo.png" alt="IMOCERTLOGO">
        </div>
        <div class="mb-8">
            <h2 class="text-[43px]">Organica</h2>
            <p class="text-xl">Es otorgada por el organismo latinoamericano IMOCert México. Su alcance contempla el seguimiento y la trazabilidad de la materia prima desde el campo hasta el producto terminado en el anaquel; la formulación, la huella ambiental ocasionada
                por la recolección, los permisos gubernamentales necesarios para la extracción y la elaboración del producto, son factores determinantes para obtener esta calificación, así como el registro comprobable de que las plantas bajo ninguna circunstancia
                tuvieron contacto con sustancias no orgánicas.</p>
        </div>

    </div>
    <div class="grid gap-10 place-items-center sm:grid-flow-col">
        <div class="w-40">
            <img src="./assets/certificaciones/USDAORGANIC.png" alt="">
        </div>
        <div class="mb-8">
            <h2 class="text-[43px]">USDA</h2>
            <p class="text-xl">Un producto que contenga el sello USDA Organic es sinónimo de ser 100% orgánico. Certificación orgánica para productos de recolección silvestre, pecuarios, agrícolas; que cumplan con las normas USDA NOP (Normas de Producción Orgánica) avaladas
                por la FDA (Food and Drug Administration), para el mercado estadounidense. Para contar con esta certificación, deben realizarse medidas necesarias para el cuidado de los elementos naturales como la tierra, el agua y el aire, garantizando:
            </p>
            <ul class="mt-4 list-item">
                <li class="text-2xl font-normal">Fertilidad del suelo</li>
                <li class="font-normal">La no erosión en los terrenos a utilizar</li>
                <li class="text-2xl font-normal">Prevención de plagas </li>
                <li class="text-2xl font-normal">No utilizar pesticidas artificiales, fertilizantes artificiales o lodos residuales. </li>
                <li class="text-2xl font-normal">No utilizar plantas y animales modificados genéticamente. </li>
            </ul>
        </div>
    </div>

    <div class="grid gap-10 place-items-center sm:grid-flow-col">
        <div class="w-40">
            <img src="./assets/certificaciones/sagarpa.png" alt="Logo Oganico Sagarpa">
        </div>
        <div class="mb-8">
            <h2 class="text-[43px]">Organico SAGARPA Mexico</h2>
            <p class="text-xl">En cumplimiento con las estrictas normas de seguridad alimentaria establecidas en la Ley de productos Orgánicos (DOF 07-02, 2006). Brinda la certeza de ser un producto de calidad, sanidad y seguridad alimentaria (inocuidad). Esta cualidad
                de un producto orgánico obtenido de acuerdo a la norma, la cual deberá ser mantenida durante la producción y manejo hasta el punto final de venta, protegerlo del mezclado que pueda ocurrir con un producto no orgánico o por contacto con
                sustancias prohibidas. Evita el uso de productos sintéticos, como pesticidas, herbicidas y fertilizantes artificiales, brindando la confianza de que ha sido certificado para ser denominado y comercializado como “orgánico” en su etiquetado.
            </p>
        </div>
    </div>
    <div class="grid gap-10 place-items-center sm:grid-flow-col">
        <div class="w-40">
            <img src="./assets/certificaciones/CUE.png" alt="Logo Oganico Europeo">
        </div>
        <div class="mb-8">
            <h2 class="text-[43px]">Agricultora Organica Europea</h2>
            <p class="text-xl">La certificación de Agricultura Orgánica Europea garantiza: </p>
            <ul>
                <li>La protección del medioambiente y del clima</li>
                <li>La conservación de la fertilidad del suelo</li>
                <li>El mantenimiento de la biodiversidad</li>
                <li>El respeto de los ciclos naturales y del bienestar animal</li>
                <li>La no utilización de productos químicos sintéticos</li>
                <li>La no utilización de OGM (Organismos Genéticamente Modificados)</li>
                <li>Un etiquetado transparente para el consumidor</li>
            </ul>
            <p class="text-xl">La certificación confirma que se cumplen con las condiciones estrictas de producción, transformación, transporte y almacenamiento de los productos para la unión europea.</p>
        </div>
    </div>
    <div class="grid gap-10 place-items-center sm:grid-flow-col">
        <div class="w-40">
            <img src="./assets/certificaciones/kosher-logo.png" alt="">
        </div>
        <div class="mb-8">
            <h2 class="text-[43px]">Kosher</h2>
            <p class="text-xl">La certificación Kosher busca establecer un régimen que beneficie al cuerpo y al alma, para lograr un equilibrio tanto físico como mental. La palabra kosher significa adecuado o conveniente, y describe, a todos aquellos alimentos que se consideran
                apropiados para consumirse de acuerdo a las normas dietéticas de la comunidad judía. </p>
            <p class="text-xl">
                Kosher no solo se refiere a un tipo específico de comida, sino a toda una línea de producción que garantice se cumpla con las normas y estándares de calidad requeridos como son limpieza y pureza.</p>
        </div>
    </div>
    <div class="grid gap-10 place-items-center sm:grid-flow-col">
        <div class="w-40">
            <img src="./assets/certificaciones/Kosher-Parave.png" alt="">
        </div>
        <div class="mb-8">
            <h2 class="text-[43px]">Pareve Le Pesaj</h2>
            <p class="text-xl">Muchas personas encuentran en esta certificación un elemento diferenciador de calidad. Son denominados bajo este término aquellos alimentos que no contienen carne ni lácteos. Cumple al pie de la letra con las exigencias de aquellas personas
                que por diversas razones requieren de una dieta vegetariana, vegana o muy estricta, y que no pueden contener ningún tipo de grasa animal, debido a que esta certificación asegura la inexistencia de contaminación o arrastre de partículas
                que afectan a personas. Los productos con esta certificación, permite que sean consumidos en la pascua judía.</p>
        </div>
    </div>
    <div class="grid gap-10 place-items-center sm:grid-flow-col">
        <div class="w-40">
            <img src="./assets/certificaciones/Kosher-Lacteo.png" alt="">
        </div>
        <div class="mb-8">
            <h2 class="text-[43px]">Lácteo</h2>
            <p class="text-xl">Todos los alimentos derivados de la leche o que contienen leche son considerados lácteos. Solamente está permitida la leche, y sus derivados que provengan de un animal Kosher. Todos los ingredientes deben ser kosher y estar libres de derivados
                cárnicos.
            </p>
        </div>
    </div>
    <div class="grid gap-10 place-items-center sm:grid-flow-col">
        <div class="w-40">
            <img src="./assets/certificaciones/nonGMO.png" alt="">
        </div>
        <div class="mb-8">
            <h2 class="text-[43px]">Non GMO</h2>
            <p class="text-xl">NON GMO son las siglas en inglés para “Non genetically modified organism”, (“Sin organismos modificados genéticamente”). Es decir, garantiza que ningún ingrediente, insumo, aditivo, auxiliar de proceso utilizado para la elaboración de alimentos
                y bebidas, no se han alterado de alguna forma para aumentar su tamaño, mejorar su sabor, incrementar su valor nutricional, etc.</p>
        </div>
    </div>
    <div class="grid gap-10 place-items-center sm:grid-flow-col">
        <div class="w-40">
            <img src="./assets/certificaciones/Gluten-free-Logo.png" alt="">
        </div>
        <div class="mb-8">
            <h2 class="text-[43px]">Gluten Free</h2>
            <p class="text-xl">En una dieta libre de gluten, debe eliminar cualquier alimento o ingrediente derivado de cereales como trigo, cebada, y centeno, que contienen ciertas proteínas conocidas como gluten; mismas que causan una reacción adversa en las personas
                que padecen desórdenes relacionados con estos productos.</p>
        </div>
    </div>
</div>
