<header class="header">
    <h1 class="header__h1"><img src="./assets/logoHome.png " alt="logonav"></h1>
    <button (click)="setActive()" class="header__button"><img src="./assets/logonav.svg" alt="Toggle Menu"></button>
    <nav class="header__nav" [ngClass]="{'header__nav--activo':active}">
        <ul class="hedaer__ul sm:flex md:justify-evenly">
            <li class="header__li"><a class="text-white font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer" routerLink='home' href="/home">Inicio</a></li>
            <li class="header__li"><a class="text-white font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer" routerLink='historia' href="/historia">Historia</a></li>
            <li class="header__li"><a class="text-white font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer" routerLink="certificacion" href="/certificacion">Certificaciones</a></li>
            <li class="header__li"><a class="text-white font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer" routerLnk="productos" href="/productos">Productos</a></li>
            <li class="header__li"><a class="text-white font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer" routerLnk="mixologia" href="/mixologia">Mixologia</a></li>
            <li class="header__li"><a class="text-white font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer" routerLnk="contacto" href="contacto">Contacto</a></li>
            <li class="header__li"><a class="text-white font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer" routerLnk="shop" href="shop">Comprar Ahora</a></li>
        </ul>
    </nav>
</header>
