<header class="header">
    <h1 class="header__h1"><img src="./assets/logoHome.png " alt="logonav"></h1>
    <button (click)="setActive()" class="header__button"><img src="./assets/logonav.svg" alt="Toggle Menu"></button>
    <nav class="header__nav" [ngClass]="{'header__nav--activo':active}">
        <ul class="hedaer__ul sm:flex md:justify-evenly">
            <li class="header__li"><a routerLink="home" class="text-white font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer">Inicio</a></li>
            <li class="header__li"><a routerLink="historia" class="text-white font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer">Historia</a></li>
            <li class="header__li"><a routerLink="certificacion" class="text-white font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer">Certificaciones</a></li>
            <li class="header__li"><a routerLink="productos" class="text-white font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer">Productos</a></li>
            <li class="header__li"><a routerLink="mixologia" class="text-white font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer">Mixologia</a></li>
            <li class="header__li"><a routerLink="contacto" class="text-white font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer">Contacto</a></li>
            <!-- <li class="header__li"><a class="text-white font-[Arial] hover:transition-all hover:uppercase hover:underline hover:cursor-pointer" routerLnk="shop" href="shop">Comprar Ahora</a></li> -->
        </ul>
    </nav>
</header>