/* .bg-Home {
    background-image: url('../../../../assets/homepage/bgHomePage.png');
    background-color: transparent;
    background-position: center center;
    backface-visibility: hidden;
    backdrop-filter: unset;
} */

.bghome {
    /*TODO: arreglar path de img background*/
    background-image: url('../../../../assets/homepage/bgHomePageII.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* .bg-Home ::before {
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 1;
    filter: none;
} */

.bgSecret {
    background-image: url('../../../../assets/homepage/FondoSotolHomepage.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgMixologia {
    background-image: url('../../../../assets/homepage/mixologia.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}