<footer class="bg-zinc-900 p-4 text-center text-white place-items-center">
    <div>
        <h4 class="mb-7">Like tequila? Love Sotol</h4>
        <div class="flex mb-7 justify-around text-center">
            <p>Face</p>
            <p>Ins</p>
            <p>Twi</p>
            <p>Link</p>
            <p>Yout</p>
            <p>Pint</p>
            <p>Tikt</p>
        </div>
        <a class="mb-7" href="">Aviso de Privacidad</a>
    </div>
    <div>
        <p>SOTOL HACIENDA DE CHIHUAHUA®. TODOS LOS DERECHOS RESERVADOS.</p>
    </div>
</footer>