<footer class="bg-zinc-900 p-4 text-center text-white place-items-center">
    <div>
        <h4 class="mb-7">{{FooterLocales.localesLikeTequila}}</h4>
        <div class="flex mb-7 justify-around text-center">
            <p>Face</p>
            <p>Ins</p>
            <p>Twi</p>
            <p>Link</p>
            <p>Yout</p>
            <p>Pint</p>
            <p>Tikt</p>
        </div>
        <a class="mb-7" href="#">{{FooterLocales.privacityAd}}</a>
    </div>
    <div>
        <p>{{FooterLocales.localesRightReservedCh}}</p>
    </div>
</footer>
