<div class="p-10 sm:p-20">
    <section class="grid sm:grid-cols-2 gap-20 place-items-center">
        <div class="w-80 mt-10">
            <img src="./assets/tequilas/1-Plata-Alta.png" alt="PlataALta">
        </div>
        <div>
            <sotol-plata></sotol-plata>
        </div>
    </section>

    <section class="grid sm:grid-cols-2 gap-20 place-items-center">
        <div class="w-80 mt-10">
            <img src="./assets/tequilas/2-Rustico.png" alt="Rustico">
        </div>
        <sotol-rustico></sotol-rustico>
    </section>
    <!--FinSotol-->

    <section class="grid sm:grid-cols-2 gap-20 place-items-center">
        <div class="w-80 mt-10">
            <img src="./assets/tequilas/4-Platinum-Alta.png" alt="Sotol Imagen del Producto">
        </div>
        <div>
            <sotol-platinum></sotol-platinum>
        </div>
    </section>
    <!--FinSotol-->

    <section class="grid sm:grid-cols-2 gap-20 place-items-center">
        <div class="w-80 mt-10">
            <img src="./assets/tequilas/5-repo-Alta.png" alt="Sotol Imagen del Producto">
        </div>
        <div>
            <sotol-reposado></sotol-reposado>
        </div>
    </section>
    <!--FinSotol-->

    <section class="grid sm:grid-cols-2 gap-20 place-items-center">
        <div class="w-80 mt-10">
            <img src="./assets/tequilas/3-anejo-alta.png" alt="Sotol Imagen del Producto">
        </div>
        <div>
            <sotol-anejo></sotol-anejo>
        </div>
    </section>
    <!--FinSotol-->

    <section class="grid sm:grid-cols-2 gap-20 place-items-center">
        <div class="w-80 mt-10">
            <img src="./assets/tequilas/6-Oro-Alta.png" alt="Sotol Imagen del Producto">
        </div>
        <div>
            <sotol-oro></sotol-oro>
        </div>
    </section>
    <!--FinSotol-->

    <section class="grid sm:grid-cols-2 gap-20 place-items-center">
        <div class="w-80 mt-10">
            <img src="./assets/tequilas/7-H5-Alta-Nuevo.png" alt="Sotol Imagen del Producto">
        </div>
        <div>
            <sotol-h5></sotol-h5>
        </div>
    </section>
    <!--FinSotol-->

    <section class="grid sm:grid-cols-2 gap-20 place-items-center">
        <div class="w-80 mt-10">
            <img src="./assets/tequilas/8-Crema-Alta.png" alt="Sotol Imagen del Producto">
        </div>
        <div>
            <sotol-nuez></sotol-nuez>
        </div>
    </section>
    <!--FinSotol-->

    <section class="grid sm:grid-cols-2 gap-20 place-items-center">
        <div class="w-80 mt-10">
            <img src="./assets/tequilas/9-crema-de-chocolate.png" alt="Sotol Imagen del Producto">
        </div>
        <div>
            <sotol-chocolate></sotol-chocolate>
        </div>
    </section>
    <!--FinSotol-->
</div>
