<header class="text-center">
    <div class="p-5 sm:p-40 text-[#5b3000] bgSpan">
        <h1 class="uppercase text-2xl sm:text-6xl">El secreto mejor guardado del desierto chihuahense</h1>
        <p class="mt-4 text-sm sm:text-4xl">El Sotol, como el Tequila, es una especie de Mezcal, pero la similitud termina ahi.</p>
    </div>

    <section>
        <div class="text-2xl pl-5 pr-5 sm:pl-20 sm:pr-20 text-justify">
            <div class="grid grid-rows-subgrid sm:grid-cols-2 place-items-center">
                <div>
                    <p class="mb-4">Durante más de 800 años, esta bebida centenaria ha sido elaborada por las tribus Anazasis y Tarahumara. Hoy Hacienda de Chihuahua extrae la planta de Sotol de la naturaleza, preservando así su carácter orgánico y natural.</p>
                    <p>La bebida del Sotol hereda de esta planta silvestre un espíritu que solo se forja en la lucha constante contra un medio agreste y hostil.</p>
                </div>
                <div class="m-8 hover:animate-pulse">
                    <img src="./assets/historia/Mapa_Historia.png" alt="Mapa Sotol">
                </div>
            </div>
            <p>Su cocción a vapor lento, fermentación con levaduras de champagne, destilación en un alambique de cobre de doble columna, así como reposo durante al menos 6 meses en barricas nuevas de roble blanco francés, otorgan un espíritu extraordinario
                que se aprecia en su aroma fino, único, suave y natural; y ya sea solo o preparado , brinda una experiencia única.</p>
            <h3 class="mt-10 text-center uppercase font-semibold">Sotol Hacienda de Chihuahua es una rica tradición de México para el mundo.</h3>

        </div>
    </section>

    <div class="p-5 sm:p-20 grid sm:grid-cols-2 place-items-center text-2xl">
        <div class="m-8">
            <img src="./assets/historia/botella-taballaopa.png" alt="Botella Historia">
        </div>
        <div>
            <p>La Hacienda Tabalaopa, cuya Casa Señorial fue fundada en 1881, ha sido testigo de la producción de Sotol desde el siglo XIX, y allí se ha atesorado históricamente esta bebida tradicional de la región, reservada para sus distinguidos hacendados
                e invitados.</p>
        </div>

    </div>

    <div class="p-5 sm:p-20 grid sm:grid-cols-2 place-items-center text-2xl">
        <div>
            <p>Todo esto cuidadosamente supervisado por nuestro Enólogo José Daumas, graduado en Ecole Nationale Superieure Agronomique de Montpellier, Francia, y quien cuenta con experiencia en firmas de renombre como Martell, Moet Chandon y Larsen.</p>
        </div>
        <div class="m-8">
            <img src="./assets/historia/ing-daumas.png" alt="Ingeniero Daumas">
        </div>
    </div>

</header>
