<main class="bg-mixo">
    <section class="grid sm:grid-cols-2 place-items-center">
        <div class="">
            <img src="./assets/mixologia/RanchWater.jpg" alt="Ranch Water">
        </div>
        <div class="p-7 text-center">
            <h4 class="uppercase text-5xl font-bold">Hacienda de chihuahua Ranch Water</h4>
            <p mt-4 mb-4>La favorita de la casa</p>
            <a href="">¿Como preparar?</a>
        </div>
    </section>

    <section class="grid sm:grid-cols-2 place-items-center">
        <div class="p-7 text-center">
            <h4 class="uppercase text-5xl font-bold">Hacienda de chihuahua Margarita</h4>
            <p mt-4 mb-4>Refrescante, perfecta para el verano</p>
            <a href="">¿Como preparar?</a>
        </div>
        <div>
            <img src="./assets/mixologia/hdc-margarita.jpg" alt="Margarita">
        </div>
    </section>

    <section class="grid sm:grid-cols-2 place-items-center">
        <div>
            <img src="./assets/mixologia/expresomartini.jpg" alt="expresomartini">
        </div>
        <div class="p-7 text-center">
            <h4 class="uppercase text-5xl font-bold">EXPRESSO MARTINI</h4>
            <p mt-4 mb-4>Una de las mezclas más conocidas.</p>
            <a href="">¿Como preparar?</a>
        </div>
    </section>

    <section class="grid sm:grid-cols-2 place-items-center">
        <div class="p-7 text-center">
            <h4 class="uppercase text-5xl font-bold">Hacienda de chihuahua Vampiro</h4>
            <p mt-4 mb-4>Un sabor frutal y picante.</p>
            <a href="">¿Como preparar?</a>
        </div>
        <div>
            <img src="./assets/mixologia/vampire.jpg" alt="vampire">
        </div>
    </section>

    <section class="grid sm:grid-cols-2 place-items-center">
        <div>
            <img src="./assets/mixologia/mojito.jpg" alt="Mojito">
        </div>
        <div class="p-7 text-center">
            <h4 class="uppercase text-5xl font-bold">Hacienda de chihuahua Mojito</h4>
            <p mt-4 mb-4>La favorita de la casa</p>
            <a href="">¿Como preparar?</a>
        </div>
    </section>

    <section class="grid sm:grid-cols-2 place-items-center">
        <div class="p-7 text-center">
            <h4 class="uppercase text-5xl font-bold">Hacienda de chihuahua carajillo</h4>
            <p mt-4 mb-4>La favorita de la casa</p>
            <a href="">¿Como preparar?</a>
        </div>
        <div>
            <img src="./assets/mixologia/carajillo.jpg" alt="carajillo">
        </div>
    </section>

    <section class="grid sm:grid-cols-2 place-items-center">
        <div>
            <img src="./assets/mixologia/besamemucho.jpg" alt="besame mucho">
        </div>
        <div class="p-7 text-center">
            <h4 class="uppercase text-5xl font-bold">Hacienda de chihuahua besame mucho</h4>
            <p mt-4 mb-4>La favorita de la casa</p>
            <a href="">¿Como preparar?</a>
        </div>
    </section>

    <section class="grid sm:grid-cols-2 place-items-center">
        <div class="p-7 text-center">
            <h4 class="uppercase text-5xl font-bold">Hacienda de chihuahua mal de amores</h4>
            <a href="">¿Como preparar?</a>
        </div>
        <div>
            <img src="./assets/mixologia/Mal-de-Amores.jpg" alt="mal de amores">
        </div>
    </section>


    <section class="grid sm:grid-cols-2 place-items-center">
        <div>
            <img src="./assets/mixologia/sour.jpg" alt="mal de amores">
        </div>
        <div class="p-7 text-center">
            <h4 class="uppercase text-5xl font-bold">Hacienda de chihuahua sour</h4>
            <a href="">¿Como preparar?</a>
        </div>
    </section>


</main>
